@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'font1';
  src: url('/font/bb1519.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'font2';
  src: url('/font/VagBlack.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
body{
	height:100%; 
	margin:0;
	font-family:Microsoft YaHei;
}
.content_left{
	width:50%;
	height:100%;
	background-color:#9ad7dc;
	float:left;
	margin:0;
	position:fixed;

}
.content_right{
	width:50%;
	height:100%;
	margin:0;
	background-color:#9ad7dc;
	left:50%;
	position:fixed;
	text-align:center;
}
.record_top{
	width:inherit;
	height:70px;
	position:fixed;
	background:rgba(0,0,0,0.3);
	text-align:center;
}
.record_time{
	color:#FFF;
	font-size:36px;
	line-height:70px;
	letter-spacing:5px;
}
#record_video {
	display: block;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.record_foot{
	width:inherit;
	height:100px;
	background:rgba(0,0,0,0.3);
	left:0;
	bottom:0;
	position:fixed;
}
.btn_mid{
	width:89px;
	height:89px;
	position:absolute;
	top:5px;
	right:50%;
	margin-right:-45px;
	background:none;
	border:none;
	cursor:pointer;
}
.btn_start{
	background:url(/img/record/Recordpage_Button_Record.png) no-repeat;
}
.btn_recordPause{
	background:url(/img/record/Recordpage_Button_RecordPause.png) no-repeat;
}
.btn_replay{
	background:url(/img/record/Recordpage_Button_Replay.png) no-repeat;
}
.btn_pause{
	background:url(/img/record/Recordpage_Button_Pause.png) no-repeat;
}
.btn_left{
	width:59px;
	height:59px;
	position:absolute;
	top:21px;
	left:25%;
	margin-left:-30px;
	border:none;
	background:none;
	cursor:pointer;
}
.btn_back{
	background:url(/img/record/Recordpage_Button_Back.png) no-repeat;
}
.btn_cancel{
	background:url(/img/record/Recordpage_Button_Cancel.png) no-repeat;
}
.btn_right{
	width:59px;
	height:59px;
	position:absolute;
	top:21px;
	right:25%;
	margin-right:-30px;
	border:none;
	background:none;
	cursor:pointer;
}
.btn_confirm{
	background:url(/img/record/Recordpage_Button_Confirm.png) no-repeat;
}
.stone{
	width:110px;
	height:85px;
	right:6%;
	top:4%;
	position:absolute;
	background:url(/img/record/Recordpage_Background_01.png) no-repeat;
}
.tree{
	width:126px;
	height:63px;
	top:400px;
	left:4%;
	position:absolute;
	background:url(/img/record/Recordpage_Background_02.png) no-repeat;
}
.line{
	width:674px;
	height:439px;
	margin-top:70px;
	background:url(/img/record/Recordpage_Line.png) no-repeat;
}
.word_bg{
	width:377px;
	height:413px;
	top:50%;
	margin-top:-300px;
	right:25%;
	margin-right:-188.5px;
	position:fixed;
	background:url(/img/record/Recordpage_Background_03.png) no-repeat;
	text-align:center;
}
.word_bg_add{
	background:url(/img/record/Recordpage_NewChapterPicturePicker.png) no-repeat;
	cursor:pointer;
}
.word_pic{
	width:350px;
	height:350px;
	margin-top:14px;
	border:none;
}
.word_pinyin{
	width:400px;
	color:#3F3F3F;
	font-family:'font2';
	font-size:68px;
	text-align:center;
	letter-spacing:5px;
	margin-top:10px;
	bottom:20%;
	right:25%;
	position:fixed;
	margin-right:-200px;
}
.word{
	width:400px;;
	color:#3F3F3F;
	font-family:'font1';
	font-size:94px;
	text-align:center;
	letter-spacing:25px;
	margin-top:10px;
	bottom:3%;
	right:25%;
	position:fixed;
	margin-right:-200px;
}
.word_line{	
	width:400px;
	color:#3F3F3F;
	font-family:'font1';
	font-size:94px;
	text-align:center;
	letter-spacing:25px;
	bottom:8%;
	right:25%;
	position:fixed;
	margin-right:-200px;
	background:none;
	border:none;
	border-bottom:#666 thick solid;
}